# Normalização do Dataframe

### Importando as principais bibliotecas

In [1]:
import numpy as np
import pandas as pd

,result,performance_rank_home,home_team_name,B365H,B365D,B365A,away_team_name,away_performance_rank,Pre-Match PPG (Home),Pre-Match PPG (Away),...,home_season_shots,home_season_shots_on_target,referee,home_team_yellow_cards,home_team_red_cards,away_team_yellow_cards,away_team_red_cards,home_team_fouls,away_team_fouls,dirty
0,1,6,Manchester United,1.57,3.90,7.50,Leicester City,9,0.00,0.00,...,434,263,Andre Marriner,2,0,1,0,11,8,1
1,-1,13,Newcastle United,3.90,3.50,2.04,Tottenham Hotspur,4,0.00,0.00,...,366,178,Martin Atkinson,2,0,2,0,11,12,0
2,2,14,AFC Bournemouth,1.90,3.60,4.50,Cardiff City,18,0.00,0.00,...,375,200,Kevin Friend,1,0,1,0,11,9,1
3,-2,19,Fulham,2.50,3.40,3.00,Crystal Palace,12,0.00,0.00,...,376,181,Mike Dean,1,0,2,0,9,11,0
4,-3,20,Huddersfield Town,6.50,4.00,1.61,Chelsea,3,0.00,0.00,...,324,154,Chris Kavanagh,2,0,1,0,9,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2,2,Liverpool,1.30,6.00,11.00,Wolverhampton Wanderers,7,2.78,1.28,...,472,264,Martin Atkinson,0,0,2,0,3,11,0
376,-2,6,Manchester United,1.28,6.50,11.00,Cardiff City,18,2.00,0.61,...,434,263,Jonathan Moss,3,0,3,0,9,6,0
377,0,16,Southampton,1.44,4.75,8.50,Huddersfield Town,20,1.22,0.33,...,383,200,Lee Probert,0,0,1,0,8,6,1
378,0,4,Tottenham Hotspur,2.20,3.50,3.50,Everton,8,2.06,1.06,...,433,226,Andre Marriner,0,0,2,0,10,13,1
379,-3,11,Watford,2.25,3.75,3.20,West Ham United,10,1.50,1.00,...,347,188,Chris Kavanagh,1,1,0,0,10,10,1

### Leitura do csv

In [2]:
matches_info_df = pd.read_csv("matches_info_df.csv", index_col=0)
matches_info_df

,result,performance_rank_home,home_team_name,B365H,B365D,B365A,away_team_name,away_performance_rank,Pre-Match PPG (Home),Pre-Match PPG (Away),...,home_season_shots,home_season_shots_on_target,referee,home_team_yellow_cards,home_team_red_cards,away_team_yellow_cards,away_team_red_cards,home_team_fouls,away_team_fouls,dirty
0,1,6,Manchester United,1.57,3.90,7.50,Leicester City,9,0.00,0.00,...,434,263,Andre Marriner,2,0,1,0,11,8,1
1,-1,13,Newcastle United,3.90,3.50,2.04,Tottenham Hotspur,4,0.00,0.00,...,366,178,Martin Atkinson,2,0,2,0,11,12,0
2,2,14,AFC Bournemouth,1.90,3.60,4.50,Cardiff City,18,0.00,0.00,...,375,200,Kevin Friend,1,0,1,0,11,9,1
3,-2,19,Fulham,2.50,3.40,3.00,Crystal Palace,12,0.00,0.00,...,376,181,Mike Dean,1,0,2,0,9,11,0
4,-3,20,Huddersfield Town,6.50,4.00,1.61,Chelsea,3,0.00,0.00,...,324,154,Chris Kavanagh,2,0,1,0,9,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2,2,Liverpool,1.30,6.00,11.00,Wolverhampton Wanderers,7,2.78,1.28,...,472,264,Martin Atkinson,0,0,2,0,3,11,0
376,-2,6,Manchester United,1.28,6.50,11.00,Cardiff City,18,2.00,0.61,...,434,263,Jonathan Moss,3,0,3,0,9,6,0
377,0,16,Southampton,1.44,4.75,8.50,Huddersfield Town,20,1.22,0.33,...,383,200,Lee Probert,0,0,1,0,8,6,1
378,0,4,Tottenham Hotspur,2.20,3.50,3.50,Everton,8,2.06,1.06,...,433,226,Andre Marriner,0,0,2,0,10,13,1
379,-3,11,Watford,2.25,3.75,3.20,West Ham United,10,1.50,1.00,...,347,188,Chris Kavanagh,1,1,0,0,10,10,1

### Removendo arquivos duplicados

In [2]:
# removendo dup
matches_info_df[matches_info_df.duplicated()].head()
# nao tem dup

Empty DataFrame
Columns: [result, performance_rank_home, home_team_name, B365H, B365D, B365A, away_team_name, away_performance_rank, Pre-Match PPG (Home), Pre-Match PPG (Away), home_team_goal_count, away_team_goal_count, home_team_goal_count_half_time, home_team_goal_count_secondhalf_time, away_team_goal_count_half_time, away_team_goal_count_secondhalf_time, home_team_goal_timings, away_team_goal_timings, home_team_shots, home_team_shots_on_target, home_team_corner_count, away_team_shots, away_team_shots_on_target, away_team_corner_count, season_part, day_or_night, home-80-final, away-80-final, 80-final, home_season_shots, home_season_shots_on_target]
Index: []

[0 rows x 31 columns]