#### Here we are going to extract the datasets and choose the columns we will work with

## Importando bibliotecas que vamos usar e as tables que vamos usar

## botar os firts steps a cada passa shape.df por exemplo

In [15]:
import numpy as np
import pandas as pd

# importando dados sobre cada jogo da temporada 2018/2019 da premier league
matches_df = pd.read_csv("matches_info_df.csv", index_col=0)
matches_df

,timestamp,date_GMT,status,attendance,home_team_name,away_team_name,referee,Game Week,Pre-Match PPG (Home),Pre-Match PPG (Away),...,odds_ft_away_team_win,odds_ft_over15,odds_ft_over25,odds_ft_over35,odds_ft_over45,odds_btts_yes,odds_btts_no,stadium_name,home_team_shots_on_target_dirty,dirty
0,1533927600,Aug 10 2018 - 7:00pm,complete,74439,Manchester United,Leicester City,Andre Marriner,1,0.00,0.00,...,9.81,1.33,2.00,3.60,7.50,2.05,1.69,Old Trafford (Manchester),7.0,0
1,1533987000,Aug 11 2018 - 11:30am,complete,51749,Newcastle United,Tottenham Hotspur,Martin Atkinson,1,0.00,0.00,...,1.84,1.31,1.95,3.50,5.75,1.83,1.87,St. James' Park (Newcastle upon Tyne),3.0,0
2,1533996000,Aug 11 2018 - 2:00pm,complete,10353,AFC Bournemouth,Cardiff City,Kevin Friend,1,0.00,0.00,...,3.96,1.31,1.95,3.45,6.70,1.83,1.83,Vitality Stadium (Bournemouth- Dorset),NaN,1
3,1533996000,Aug 11 2018 - 2:00pm,complete,24821,Fulham,Crystal Palace,Mike Dean,1,0.00,0.00,...,3.26,1.28,1.87,3.20,7.00,1.71,2.00,Craven Cottage (London),NaN,1
4,1533996000,Aug 11 2018 - 2:00pm,complete,24121,Huddersfield Town,Chelsea,Chris Kavanagh,1,0.00,0.00,...,1.51,1.29,1.91,3.30,6.95,2.00,1.71,John Smith's Stadium (Huddersfield- West Yorks...,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,1557669600,May 12 2019 - 2:00pm,complete,53331,Liverpool,Wolverhampton Wanderers,Martin Atkinson,38,2.78,1.28,...,9.00,1.18,1.57,2.45,4.75,1.95,1.83,Anfield (Liverpool),6.0,0
376,1557669600,May 12 2019 - 2:00pm,complete,74457,Manchester United,Cardiff City,Jonathan Moss,38,2.00,0.61,...,10.00,1.12,1.41,2.00,3.60,1.74,2.05,Old Trafford (Manchester),11.0,0
377,1557669600,May 12 2019 - 2:00pm,complete,30367,Southampton,Huddersfield Town,Lee Probert,38,1.22,0.33,...,7.50,1.19,1.61,2.50,4.75,1.80,2.00,St. Mary's Stadium (Southampton- Hampshire),4.0,0
378,1557669600,May 12 2019 - 2:00pm,complete,60124,Tottenham Hotspur,Everton,Andre Marriner,38,2.06,1.06,...,3.55,1.22,1.71,2.80,6.00,1.59,2.30,Tottenham Hotspur Stadium (London),4.0,0
379,1557669600,May 12 2019 - 2:00pm,complete,20067,Watford,West Ham United,Chris Kavanagh,38,1.50,1.00,...,3.10,1.16,1.54,2.35,4.00,1.48,2.55,Vicarage Road (Watford),9.0,0

In [16]:
# importando table que vamos usar para complementar a analise dos dados com 
# informações das odds pre jogo
odds_df = pd.read_csv("https://raw.githubusercontent.com/gabrielaragao01/Data-Science-Project/main/data/raw/england-premier-league-2018-to-2019.csv")
odds_df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,...,1.79,17,-0.75,1.75,1.70,2.29,2.21,1.55,4.07,7.69
1,E0,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,H,...,1.83,20,-0.75,2.20,2.13,1.80,1.75,1.88,3.61,4.70
2,E0,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,A,...,1.87,22,-0.25,2.18,2.11,1.81,1.77,2.62,3.38,2.90
3,E0,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,A,...,1.84,23,1.00,1.84,1.80,2.13,2.06,7.24,3.95,1.58
4,E0,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,A,...,1.81,20,0.25,2.20,2.12,1.80,1.76,4.74,3.53,1.89

In [17]:
# adicionando tabela do final do campeonato
teams_stats = pd.read_csv("https://raw.githubusercontent.com/gabrielaragao01/Data-Science-Project/main/data/raw/england-premier-league-teams-2018-to-2019-stats.csv")
teams_stats

,team_name,common_name,season,country,matches_played,matches_played_home,matches_played_away,suspended_matches,wins,wins_home,...,goals_conceded_min_61_to_70,goals_conceded_min_71_to_80,goals_conceded_min_81_to_90,draw_percentage_overall,draw_percentage_home,draw_percentage_away,loss_percentage_ovearll,loss_percentage_home,loss_percentage_away,over145_corners_percentage
0,Arsenal FC,Arsenal,2018/2019,England,38,19,19,0,21,14,...,12,1,8,18,16,21,26,11,42,5
1,Tottenham Hotspur FC,Tottenham Hotspur,2018/2019,England,38,19,19,0,23,12,...,4,8,10,5,11,0,34,26,42,11
2,Manchester City FC,Manchester City,2018/2019,England,38,19,19,0,32,18,...,4,2,3,5,0,11,11,5,16,5
3,Leicester City FC,Leicester City,2018/2019,England,38,19,19,0,15,8,...,7,1,9,18,16,21,42,42,42,5
4,Crystal Palace FC,Crystal Palace,2018/2019,England,38,19,19,0,14,5,...,8,8,11,18,26,11,45,47,42,11
5,Everton FC,Everton,2018/2019,England,38,19,19,0,15,10,...,10,5,4,24,21,26,37,26,47,11
6,Burnley FC,Burnley,2018/2019,England,38,19,19,0,11,7,...,10,4,15,18,11,26,53,53,53,0
7,Southampton FC,Southampton,2018/2019,England,38,19,19,0,9,5,...,5,4,14,32,42,21,45,32,58,8
8,AFC Bournemouth,AFC Bournemouth,2018/2019,England,38,19,19,0,13,8,...,8,6,11,16,26,5,50,32,68,11
9,Manchester United FC,Manchester United,2018/2019,England,38,19,19,0,19,10,...,7,7,7,24,32,16,26,16,37,8
10,Liverpool FC,Liverpool,2018/2019,England,38,19,19,0,30,17,...,3,3,4,18,11,26,3,0,5,5
11,Chelsea FC,Chelsea,2018/2019,England,38,19,19,0,21,12,...,3,4,3,24,32,16,21,5,37,3
12,West Ham United FC,West Ham United,2018/2019,England,38,19,19,0,15,9,...,5,6,11,18,21,16,42,32,53,5
13,Watford FC,Watford,2018/2019,England,38,19,19,0,14,8,...,3,12,9,21,16,26,42,42,42,8
14,Newcastle United FC,Newcastle United,2018/2019,England,38,19,19,0,12,8,...,3,6,12,24,5,42,45,53,37,16
15,Cardiff City FC,Cardiff City,2018/2019,Wales,38,19,19,0,10,6,...,12,3,16,11,11,11,63,58,68,16
16,Fulham FC,Fulham,2018/2019,England,38,19,19,0,7,6,...,8,10,15,13,16,11,68,53,84,8
17,Brighton & Hove Albion FC,Brighton & Hove Albion,2018/2019,England,38,19,19,0,9,6,...,9,9,6,24,26,21,53,42,63,5
18,Huddersfield Town FC,Huddersfield Town,2018/2019,England,38,19,19,0,3,2,...,7,13,11,18,16,21,74,74,74,0
19,Wolverhampton Wanderers FC,Wolverhampton Wanderers,2018/2019,England,38,19,19,0,16,10,...,5,7,7,24,21,26,34,26,42,8

In [18]:
teams_stats = teams_stats[['common_name', 'performance_rank', 'shots_home', 'shots_on_target_home']]
teams_stats

,common_name,performance_rank,shots_home,shots_on_target_home
0,Arsenal,5,210,116
1,Tottenham Hotspur,4,236,124
2,Manchester City,1,307,167
3,Leicester City,9,238,118
4,Crystal Palace,12,222,94
5,Everton,8,213,104
6,Burnley,15,177,85
7,Southampton,16,207,108
8,AFC Bournemouth,14,191,100
9,Manchester United,6,235,145
10,Liverpool,2,267,145
11,Chelsea,3,242,137
12,West Ham United,10,204,107
13,Watford,11,169,102
14,Newcastle United,13,213,98
15,Cardiff City,18,189,85
16,Fulham,19,223,101
17,Brighton & Hove Albion,17,175,71
18,Huddersfield Town,20,169,77
19,Wolverhampton Wanderers,7,219,105

## Deixando apenas os campos que vamos usar na analise (dropando o que nao vamos usar)

In [19]:
# definindo colunas que vamos usar:
matches_columns = ['date_GMT', 'home_team_name', 'away_team_name', 'Pre-Match PPG (Home)', 'Pre-Match PPG (Away)', 'home_team_goal_count', 'away_team_goal_count', 'home_team_goal_count_half_time', 'away_team_goal_count_half_time', 'home_team_goal_timings', 'away_team_goal_timings', 'home_team_shots', 'home_team_shots_on_target_original', 'home_team_shots_on_target_dirty', 'home_team_corner_count', 'away_team_shots', 'away_team_shots_on_target', 'away_team_corner_count', 'referee', 'home_team_yellow_cards', 'home_team_red_cards', 'away_team_yellow_cards', 'away_team_red_cards', 'home_team_fouls', 'away_team_fouls', 'dirty']

matches_df = matches_df[matches_columns]
matches_df

,date_GMT,home_team_name,away_team_name,Pre-Match PPG (Home),Pre-Match PPG (Away),home_team_goal_count,away_team_goal_count,home_team_goal_count_half_time,away_team_goal_count_half_time,home_team_goal_timings,...,away_team_shots_on_target,away_team_corner_count,referee,home_team_yellow_cards,home_team_red_cards,away_team_yellow_cards,away_team_red_cards,home_team_fouls,away_team_fouls,dirty
0,Aug 10 2018 - 7:00pm,Manchester United,Leicester City,0.00,0.00,2,1,1,0,"3,83",...,5,5,Andre Marriner,2,0,1,0,11,8,0
1,Aug 11 2018 - 11:30am,Newcastle United,Tottenham Hotspur,0.00,0.00,1,2,1,2,11,...,6,5,Martin Atkinson,2,0,2,0,11,12,0
2,Aug 11 2018 - 2:00pm,AFC Bournemouth,Cardiff City,0.00,0.00,2,0,1,0,"24,90'1",...,2,4,Kevin Friend,1,0,1,0,11,9,1
3,Aug 11 2018 - 2:00pm,Fulham,Crystal Palace,0.00,0.00,0,2,0,1,NaN,...,11,5,Mike Dean,1,0,2,0,9,11,1
4,Aug 11 2018 - 2:00pm,Huddersfield Town,Chelsea,0.00,0.00,0,3,0,2,NaN,...,5,5,Chris Kavanagh,2,0,1,0,9,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,May 12 2019 - 2:00pm,Liverpool,Wolverhampton Wanderers,2.78,1.28,2,0,1,0,"17,81",...,3,1,Martin Atkinson,0,0,2,0,3,11,0
376,May 12 2019 - 2:00pm,Manchester United,Cardiff City,2.00,0.61,0,2,0,1,NaN,...,5,2,Jonathan Moss,3,0,3,0,9,6,0
377,May 12 2019 - 2:00pm,Southampton,Huddersfield Town,1.22,0.33,1,1,1,0,41,...,4,3,Lee Probert,0,0,1,0,8,6,0
378,May 12 2019 - 2:00pm,Tottenham Hotspur,Everton,2.06,1.06,2,2,1,0,"3,75",...,10,4,Andre Marriner,0,0,2,0,10,13,0
379,May 12 2019 - 2:00pm,Watford,West Ham United,1.50,1.00,1,4,0,2,46,...,10,2,Chris Kavanagh,1,1,0,0,10,10,0

In [20]:
odds_columns = ['HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A']

odds_df = odds_df[odds_columns]
odds_df

         HomeTeam        AwayTeam  B365H  B365D  B365A
0      Man United       Leicester   1.57   3.90   7.50
1     Bournemouth         Cardiff   1.90   3.60   4.50
2          Fulham  Crystal Palace   2.50   3.40   3.00
3    Huddersfield         Chelsea   6.50   4.00   1.61
4       Newcastle       Tottenham   3.90   3.50   2.04
..            ...             ...    ...    ...    ...
375     Liverpool          Wolves   1.30   6.00  11.00
376    Man United         Cardiff   1.28   6.50  11.00
377   Southampton    Huddersfield   1.44   4.75   8.50
378     Tottenham         Everton   2.20   3.50   3.50
379       Watford        West Ham   2.25   3.75   3.20

[380 rows x 5 columns]

## Vamos juntar os dois data frames, matches e odds, para podermos saber como estao as espectativas pre jogo

In [21]:
# primeiro precisamos unificar os nomes dos times
#que estao diferentes em ambos os data frames

# Renomear as colunas em odds_df para corresponder às colunas em data
odds_df = odds_df.rename(columns={
    'HomeTeam': 'home_team_name',
    'AwayTeam': 'away_team_name',
})

# Criar um dicionário de mapeamento para padronizar os nomes dos times
team_name_mapping = {
    'Man United': 'Manchester United',
    'Man City': 'Manchester City',
    'Leicester': 'Leicester City',
    'Newcastle': 'Newcastle United',
    'Bournemouth': 'AFC Bournemouth',
    'Brighton': 'Brighton & Hove Albion',
    'Wolves': 'Wolverhampton Wanderers',
    'West Ham': 'West Ham United',
    'Cardiff': 'Cardiff City',
    'Tottenham': 'Tottenham Hotspur',
    'Huddersfield': 'Huddersfield Town',
}


# Aplicar o mapeamento aos DataFrames
matches_df['home_team_name'] = matches_df['home_team_name'].replace(team_name_mapping)
matches_df['away_team_name'] = matches_df['away_team_name'].replace(team_name_mapping)
odds_df['home_team_name'] = odds_df['home_team_name'].replace(team_name_mapping)
odds_df['away_team_name'] = odds_df['away_team_name'].replace(team_name_mapping)

# Realizar a junção dos DataFrames com base nos nomes padronizados dos times
matches_info_df = pd.merge(matches_df, odds_df, on=['home_team_name', 'away_team_name'], how='inner')
matches_info_df

C:\Users\diogo\AppData\Local\Temp\ipykernel_18732\2869944098.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches_df['home_team_name'] = matches_df['home_team_name'].replace(team_name_mapping)
C:\Users\diogo\AppData\Local\Temp\ipykernel_18732\2869944098.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches_df['away_team_name'] = matches_df['away_team_name'].replace(team_name_mapping)

,date_GMT,home_team_name,away_team_name,Pre-Match PPG (Home),Pre-Match PPG (Away),home_team_goal_count,away_team_goal_count,home_team_goal_count_half_time,away_team_goal_count_half_time,home_team_goal_timings,...,home_team_yellow_cards,home_team_red_cards,away_team_yellow_cards,away_team_red_cards,home_team_fouls,away_team_fouls,dirty,B365H,B365D,B365A
0,Aug 10 2018 - 7:00pm,Manchester United,Leicester City,0.00,0.00,2,1,1,0,"3,83",...,2,0,1,0,11,8,0,1.57,3.90,7.50
1,Aug 11 2018 - 11:30am,Newcastle United,Tottenham Hotspur,0.00,0.00,1,2,1,2,11,...,2,0,2,0,11,12,0,3.90,3.50,2.04
2,Aug 11 2018 - 2:00pm,AFC Bournemouth,Cardiff City,0.00,0.00,2,0,1,0,"24,90'1",...,1,0,1,0,11,9,1,1.90,3.60,4.50
3,Aug 11 2018 - 2:00pm,Fulham,Crystal Palace,0.00,0.00,0,2,0,1,NaN,...,1,0,2,0,9,11,1,2.50,3.40,3.00
4,Aug 11 2018 - 2:00pm,Huddersfield Town,Chelsea,0.00,0.00,0,3,0,2,NaN,...,2,0,1,0,9,8,1,6.50,4.00,1.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,May 12 2019 - 2:00pm,Liverpool,Wolverhampton Wanderers,2.78,1.28,2,0,1,0,"17,81",...,0,0,2,0,3,11,0,1.30,6.00,11.00
376,May 12 2019 - 2:00pm,Manchester United,Cardiff City,2.00,0.61,0,2,0,1,NaN,...,3,0,3,0,9,6,0,1.28,6.50,11.00
377,May 12 2019 - 2:00pm,Southampton,Huddersfield Town,1.22,0.33,1,1,1,0,41,...,0,0,1,0,8,6,0,1.44,4.75,8.50
378,May 12 2019 - 2:00pm,Tottenham Hotspur,Everton,2.06,1.06,2,2,1,0,"3,75",...,0,0,2,0,10,13,0,2.20,3.50,3.50
379,May 12 2019 - 2:00pm,Watford,West Ham United,1.50,1.00,1,4,0,2,46,...,1,1,0,0,10,10,0,2.25,3.75,3.20

In [22]:
def checking_result(row):
    result = row['home_team_goal_count'] - row['away_team_goal_count']
        
    return result

# defining the result
matches_info_df['result'] = matches_info_df.apply(checking_result, axis=1)

# Divide the season into three parts based on index position
matches_info_df["season_part"] = 'first'
matches_info_df.loc[(matches_info_df.index > 120) & (matches_info_df.index < 240),'season_part'] = 'mid'
matches_info_df.loc[(matches_info_df.index >= 240),'season_part'] = 'last'

# Converting the 'match_datetime' column to datetime format
matches_info_df['match_datetime'] = pd.to_datetime(matches_info_df['date_GMT'], format='%b %d %Y - %I:%M%p')
# Creating the 'day_or_night' column based on the hour of the match
matches_info_df['day_or_night'] = matches_info_df['match_datetime'].dt.hour.apply(lambda x: 'Night' if x >= 17 else 'Day')

def home_second_half_goals(row):
    home_goals_second_half = row['home_team_goal_count'] - row['home_team_goal_count_half_time']
    
    return int(home_goals_second_half)

def away_second_half_goals(row):
    away_goals_second_half = row['away_team_goal_count'] - row['away_team_goal_count_half_time']
    
    return int(away_goals_second_half)

# creating column to goals on 2 half
matches_info_df['home_team_goal_count_secondhalf_time'] = matches_info_df.apply(home_second_half_goals, axis=1)
matches_info_df['away_team_goal_count_secondhalf_time'] = matches_info_df.apply(away_second_half_goals, axis=1)

# Function to verify if there are goals scored after the 80th minute for both teams
def has_goals_after_80_minutes(row):
    home_goals = row['home-80-final']
    away_goals = row['away-80-final']
    
    return home_goals or away_goals

# Function to convert time notation to minutes
def convert_time_notation_to_minutes(time_str):
    values = time_str.split("'")
    if len(values) != 1 and len(values) != 2:
        raise Exception('Invalid time notation')

    minutes = int(values[0])
    if len(values) == 2:
        minutes += int(values[1])

    return minutes

# Function to check if there are goals scored after a specified threshold time
def has_goals_after_threshold(times_str, threshold=80):
    # Splitting the goal timings string using comma delimiter
    timings_arr = times_str.split(',')
    # Converting time notation to minutes
    minutes_arr = [convert_time_notation_to_minutes(x) for x in timings_arr]

    # Checking if any time is greater than or equal to the threshold
    for time in minutes_arr:
        if time >= threshold:
            return True
    
    return False

# Applying the has_goals_after_threshold function to home and away goal timings, and combining the results
matches_info_df['home-80-final'] = matches_info_df['home_team_goal_timings'].apply(lambda x: has_goals_after_threshold(x) if not isinstance(x, float) else False)
matches_info_df['away-80-final'] = matches_info_df['away_team_goal_timings'].apply(lambda x: has_goals_after_threshold(x) if not isinstance(x, float) else False)
matches_info_df['80-final'] = matches_info_df.apply(has_goals_after_80_minutes, axis=1)

# Selecting relevant columns for analysis
matches_info_df[['home_team_goal_timings', 'away_team_goal_timings', 'home-80-final', 'away-80-final', '80-final', 'home_team_goal_count_secondhalf_time']].head(20)

,home_team_goal_timings,away_team_goal_timings,home-80-final,away-80-final,80-final,home_team_goal_count_secondhalf_time
0,"3,83",90'2,True,True,True,1
1,11,"8,18",False,False,False,0
2,"24,90'1",NaN,True,False,True,1
3,NaN,"41,79",False,False,False,0
4,NaN,"34,45,80",False,True,True,0
5,"35,54",NaN,False,False,False,1
6,"44,80","17,67",True,False,True,1
7,"19,45'2,53,88",NaN,True,False,True,2
8,NaN,NaN,False,False,False,0
9,NaN,"14,64",False,False,False,0
10,NaN,NaN,False,False,False,0
11,"15,31",54,False,False,False,0
12,"29,45",NaN,False,False,False,0
13,"43,74,77",52,False,False,False,2
14,33,"60,66",False,False,False,0
15,"9,20,81","37,41",True,False,True,1
16,6,"3,48,51",False,False,False,0
17,"25,31,35,48,75,84",43,True,False,True,3
18,"25,27,44","34,90'5",False,True,True,0
19,NaN,"45,90'3",False,True,True,0

In [23]:
# Adicionar coluna de índice original ao DataFrame matches_info_df
matches_info_df['original_index'] = matches_info_df.index

# Realizar a junção dos DataFrames com base nos nomes padronizados dos times
teams_stats.rename(columns={'common_name': 'home_team_name', 'shots_home': 'home_season_shots', 'shots_on_target_home': 'home_season_shots_on_target', 'performance_rank': 'performance_rank_home'}, inplace=True)
matches_info_df = pd.merge(matches_info_df, teams_stats, on=['home_team_name'], how='inner')

teams_stats = teams_stats.drop(columns=['home_season_shots', 'home_season_shots_on_target'])
teams_stats.rename(columns={'home_team_name': 'away_team_name', 'performance_rank_home': 'away_performance_rank'}, inplace=True)
matches_info_df = pd.merge(matches_info_df, teams_stats, on=['away_team_name'], how='inner')

# Ordenar pelo índice original para manter a ordem das linhas
matches_info_df = matches_info_df.sort_values(by='original_index').reset_index(drop=True)

# Remover a coluna de índice original
matches_info_df = matches_info_df.drop(columns=['original_index'])

matches_info_df

# falar com o professor para ver se isso aqui é merda

C:\Users\diogo\AppData\Local\Temp\ipykernel_18732\3360590284.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams_stats.rename(columns={'common_name': 'home_team_name', 'shots_home': 'home_season_shots', 'shots_on_target_home': 'home_season_shots_on_target', 'performance_rank': 'performance_rank_home'}, inplace=True)

,date_GMT,home_team_name,away_team_name,Pre-Match PPG (Home),Pre-Match PPG (Away),home_team_goal_count,away_team_goal_count,home_team_goal_count_half_time,away_team_goal_count_half_time,home_team_goal_timings,...,day_or_night,home_team_goal_count_secondhalf_time,away_team_goal_count_secondhalf_time,home-80-final,away-80-final,80-final,performance_rank_home,home_season_shots,home_season_shots_on_target,away_performance_rank
0,Aug 10 2018 - 7:00pm,Manchester United,Leicester City,0.00,0.00,2,1,1,0,"3,83",...,Night,1,1,True,True,True,6,235,145,9
1,Aug 11 2018 - 11:30am,Newcastle United,Tottenham Hotspur,0.00,0.00,1,2,1,2,11,...,Day,0,0,False,False,False,13,213,98,4
2,Aug 11 2018 - 2:00pm,AFC Bournemouth,Cardiff City,0.00,0.00,2,0,1,0,"24,90'1",...,Day,1,0,True,False,True,14,191,100,18
3,Aug 11 2018 - 2:00pm,Fulham,Crystal Palace,0.00,0.00,0,2,0,1,NaN,...,Day,0,1,False,False,False,19,223,101,12
4,Aug 11 2018 - 2:00pm,Huddersfield Town,Chelsea,0.00,0.00,0,3,0,2,NaN,...,Day,0,1,False,True,True,20,169,77,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,May 12 2019 - 2:00pm,Liverpool,Wolverhampton Wanderers,2.78,1.28,2,0,1,0,"17,81",...,Day,1,0,True,False,True,2,267,145,7
376,May 12 2019 - 2:00pm,Manchester United,Cardiff City,2.00,0.61,0,2,0,1,NaN,...,Day,0,1,False,False,False,6,235,145,18
377,May 12 2019 - 2:00pm,Southampton,Huddersfield Town,1.22,0.33,1,1,1,0,41,...,Day,0,1,False,False,False,16,207,108,20
378,May 12 2019 - 2:00pm,Tottenham Hotspur,Everton,2.06,1.06,2,2,1,0,"3,75",...,Day,1,2,False,False,False,4,236,124,8
379,May 12 2019 - 2:00pm,Watford,West Ham United,1.50,1.00,1,4,0,2,46,...,Day,1,2,False,False,False,11,169,102,10

In [24]:
## colocando as colunas na ordem correta
ordered_df = ['result', 'performance_rank_home', 'home_team_name','B365H', 'B365D', 'B365A', 'away_team_name', 'away_performance_rank',  'Pre-Match PPG (Home)', 'Pre-Match PPG (Away)', 'home_team_goal_count', 'away_team_goal_count', 'home_team_goal_count_half_time', 'home_team_goal_count_secondhalf_time', 'away_team_goal_count_half_time','away_team_goal_count_secondhalf_time', 'home_team_goal_timings', 'away_team_goal_timings', 'home_team_shots', 'home_team_shots_on_target_original', 'home_team_corner_count', 'home_team_shots_on_target_dirty','away_team_shots', 'away_team_shots_on_target', 'away_team_corner_count', 'season_part', 'day_or_night', 'home-80-final', 'away-80-final', '80-final', 'home_season_shots', 'home_season_shots_on_target', 'referee', 'home_team_yellow_cards', 'home_team_red_cards', 'away_team_yellow_cards', 'away_team_red_cards', 'home_team_fouls', 'away_team_fouls', 'dirty']

matches_info_df = matches_info_df[ordered_df]
matches_info_df.to_csv('matches_info_df.csv')
matches_info_df

,result,performance_rank_home,home_team_name,B365H,B365D,B365A,away_team_name,away_performance_rank,Pre-Match PPG (Home),Pre-Match PPG (Away),...,home_season_shots,home_season_shots_on_target,referee,home_team_yellow_cards,home_team_red_cards,away_team_yellow_cards,away_team_red_cards,home_team_fouls,away_team_fouls,dirty
0,1,6,Manchester United,1.57,3.90,7.50,Leicester City,9,0.00,0.00,...,235,145,Andre Marriner,2,0,1,0,11,8,0
1,-1,13,Newcastle United,3.90,3.50,2.04,Tottenham Hotspur,4,0.00,0.00,...,213,98,Martin Atkinson,2,0,2,0,11,12,0
2,2,14,AFC Bournemouth,1.90,3.60,4.50,Cardiff City,18,0.00,0.00,...,191,100,Kevin Friend,1,0,1,0,11,9,1
3,-2,19,Fulham,2.50,3.40,3.00,Crystal Palace,12,0.00,0.00,...,223,101,Mike Dean,1,0,2,0,9,11,1
4,-3,20,Huddersfield Town,6.50,4.00,1.61,Chelsea,3,0.00,0.00,...,169,77,Chris Kavanagh,2,0,1,0,9,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2,2,Liverpool,1.30,6.00,11.00,Wolverhampton Wanderers,7,2.78,1.28,...,267,145,Martin Atkinson,0,0,2,0,3,11,0
376,-2,6,Manchester United,1.28,6.50,11.00,Cardiff City,18,2.00,0.61,...,235,145,Jonathan Moss,3,0,3,0,9,6,0
377,0,16,Southampton,1.44,4.75,8.50,Huddersfield Town,20,1.22,0.33,...,207,108,Lee Probert,0,0,1,0,8,6,0
378,0,4,Tottenham Hotspur,2.20,3.50,3.50,Everton,8,2.06,1.06,...,236,124,Andre Marriner,0,0,2,0,10,13,0
379,-3,11,Watford,2.25,3.75,3.20,West Ham United,10,1.50,1.00,...,169,102,Chris Kavanagh,1,1,0,0,10,10,0

In [25]:
matches_info_df[['home_team_shots', 'home_team_shots_on_target_original', 'home_team_shots_on_target_dirty']]

,home_team_shots,home_team_shots_on_target_original,home_team_shots_on_target_dirty
0,8,7,7.0
1,11,3,3.0
2,11,5,NaN
3,11,7,NaN
4,6,2,NaN
...,...,...,...
375,11,6,6.0
376,21,11,11.0
377,7,4,4.0
378,9,4,4.0
379,11,9,9.0