# Extração dos conjuntos de dados e escolha das colunas com as quais vamos trabalhar.

### Importando bibliotecas e tables que vamos utilizar

In [9]:
import numpy as np
import pandas as pd

## Importação de todas as bases de dados necessárias para se fazer a análise

### Leitura do csv - Premier League 2018-2019

In [10]:
matches_df = pd.read_csv("matches_info_df.csv", index_col=0)
matches_df

,result,performance_rank_home,home_team_name,B365H,B365D,B365A,away_team_name,away_performance_rank,Pre-Match PPG (Home),Pre-Match PPG (Away),...,home_season_shots,home_season_shots_on_target,referee,home_team_yellow_cards,home_team_red_cards,away_team_yellow_cards,away_team_red_cards,home_team_fouls,away_team_fouls,dirty
0,1,6,Manchester United,1.57,3.90,7.50,Leicester City,9,0.00,0.00,...,434,263,Andre Marriner,2,0,1,0,11,8,1
1,-1,13,Newcastle United,3.90,3.50,2.04,Tottenham Hotspur,4,0.00,0.00,...,366,178,Martin Atkinson,2,0,2,0,11,12,0
2,2,14,AFC Bournemouth,1.90,3.60,4.50,Cardiff City,18,0.00,0.00,...,375,200,Kevin Friend,1,0,1,0,11,9,1
3,-2,19,Fulham,2.50,3.40,3.00,Crystal Palace,12,0.00,0.00,...,376,181,Mike Dean,1,0,2,0,9,11,0
4,-3,20,Huddersfield Town,6.50,4.00,1.61,Chelsea,3,0.00,0.00,...,324,154,Chris Kavanagh,2,0,1,0,9,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2,2,Liverpool,1.30,6.00,11.00,Wolverhampton Wanderers,7,2.78,1.28,...,472,264,Martin Atkinson,0,0,2,0,3,11,0
376,-2,6,Manchester United,1.28,6.50,11.00,Cardiff City,18,2.00,0.61,...,434,263,Jonathan Moss,3,0,3,0,9,6,0
377,0,16,Southampton,1.44,4.75,8.50,Huddersfield Town,20,1.22,0.33,...,383,200,Lee Probert,0,0,1,0,8,6,1
378,0,4,Tottenham Hotspur,2.20,3.50,3.50,Everton,8,2.06,1.06,...,433,226,Andre Marriner,0,0,2,0,10,13,1
379,-3,11,Watford,2.25,3.75,3.20,West Ham United,10,1.50,1.00,...,347,188,Chris Kavanagh,1,1,0,0,10,10,1

### Leitura do csv - Informações das odds pre jogo

In [11]:
# importando table que vamos usar para complementar a analise dos dados com 
odds_df = pd.read_csv("https://raw.githubusercontent.com/gabrielaragao01/Data-Science-Project/main/data/raw/england-premier-league-2018-to-2019.csv")
odds_df.head(10)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,...,1.79,17,-0.75,1.75,1.70,2.29,2.21,1.55,4.07,7.69
1,E0,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,H,...,1.83,20,-0.75,2.20,2.13,1.80,1.75,1.88,3.61,4.70
2,E0,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,A,...,1.87,22,-0.25,2.18,2.11,1.81,1.77,2.62,3.38,2.90
3,E0,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,A,...,1.84,23,1.00,1.84,1.80,2.13,2.06,7.24,3.95,1.58
4,E0,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,A,...,1.81,20,0.25,2.20,2.12,1.80,1.76,4.74,3.53,1.89
5,E0,11/08/2018,Watford,Brighton,2,0,H,1,0,H,...,1.59,22,-0.25,2.07,2.01,1.90,1.86,2.58,3.08,3.22
6,E0,11/08/2018,Wolves,Everton,2,2,D,1,1,D,...,1.75,22,-0.25,2.04,1.98,1.92,1.88,2.44,3.23,3.32
7,E0,12/08/2018,Arsenal,Man City,0,2,A,0,1,A,...,2.42,20,0.75,1.78,1.74,2.21,2.15,4.43,4.13,1.81
8,E0,12/08/2018,Liverpool,West Ham,4,0,H,2,0,H,...,2.72,21,-1.75,1.95,1.90,2.06,1.97,1.25,6.95,12.00
9,E0,12/08/2018,Southampton,Burnley,0,0,D,0,0,D,...,1.60,20,-0.75,2.19,2.11,1.82,1.76,2.03,3.19,4.65

### Leitura do csv - Tabela de Final do Campeonato

In [12]:
# adicionando tabela do final do campeonato
teams_stats = pd.read_csv("https://raw.githubusercontent.com/gabrielaragao01/Data-Science-Project/main/data/raw/england-premier-league-teams-2018-to-2019-stats.csv")
teams_stats

,team_name,common_name,season,country,matches_played,matches_played_home,matches_played_away,suspended_matches,wins,wins_home,...,goals_conceded_min_61_to_70,goals_conceded_min_71_to_80,goals_conceded_min_81_to_90,draw_percentage_overall,draw_percentage_home,draw_percentage_away,loss_percentage_ovearll,loss_percentage_home,loss_percentage_away,over145_corners_percentage
0,Arsenal FC,Arsenal,2018/2019,England,38,19,19,0,21,14,...,12,1,8,18,16,21,26,11,42,5
1,Tottenham Hotspur FC,Tottenham Hotspur,2018/2019,England,38,19,19,0,23,12,...,4,8,10,5,11,0,34,26,42,11
2,Manchester City FC,Manchester City,2018/2019,England,38,19,19,0,32,18,...,4,2,3,5,0,11,11,5,16,5
3,Leicester City FC,Leicester City,2018/2019,England,38,19,19,0,15,8,...,7,1,9,18,16,21,42,42,42,5
4,Crystal Palace FC,Crystal Palace,2018/2019,England,38,19,19,0,14,5,...,8,8,11,18,26,11,45,47,42,11
5,Everton FC,Everton,2018/2019,England,38,19,19,0,15,10,...,10,5,4,24,21,26,37,26,47,11
6,Burnley FC,Burnley,2018/2019,England,38,19,19,0,11,7,...,10,4,15,18,11,26,53,53,53,0
7,Southampton FC,Southampton,2018/2019,England,38,19,19,0,9,5,...,5,4,14,32,42,21,45,32,58,8
8,AFC Bournemouth,AFC Bournemouth,2018/2019,England,38,19,19,0,13,8,...,8,6,11,16,26,5,50,32,68,11
9,Manchester United FC,Manchester United,2018/2019,England,38,19,19,0,19,10,...,7,7,7,24,32,16,26,16,37,8
10,Liverpool FC,Liverpool,2018/2019,England,38,19,19,0,30,17,...,3,3,4,18,11,26,3,0,5,5
11,Chelsea FC,Chelsea,2018/2019,England,38,19,19,0,21,12,...,3,4,3,24,32,16,21,5,37,3
12,West Ham United FC,West Ham United,2018/2019,England,38,19,19,0,15,9,...,5,6,11,18,21,16,42,32,53,5
13,Watford FC,Watford,2018/2019,England,38,19,19,0,14,8,...,3,12,9,21,16,26,42,42,42,8
14,Newcastle United FC,Newcastle United,2018/2019,England,38,19,19,0,12,8,...,3,6,12,24,5,42,45,53,37,16
15,Cardiff City FC,Cardiff City,2018/2019,Wales,38,19,19,0,10,6,...,12,3,16,11,11,11,63,58,68,16
16,Fulham FC,Fulham,2018/2019,England,38,19,19,0,7,6,...,8,10,15,13,16,11,68,53,84,8
17,Brighton & Hove Albion FC,Brighton & Hove Albion,2018/2019,England,38,19,19,0,9,6,...,9,9,6,24,26,21,53,42,63,5
18,Huddersfield Town FC,Huddersfield Town,2018/2019,England,38,19,19,0,3,2,...,7,13,11,18,16,21,74,74,74,0
19,Wolverhampton Wanderers FC,Wolverhampton Wanderers,2018/2019,England,38,19,19,0,16,10,...,5,7,7,24,21,26,34,26,42,8

### Status de final de temporada de cada time

In [13]:
# Performace, chutes e chutes a gol de cada time
teams_stats = teams_stats[['common_name', 'performance_rank', 'shots', 'shots_on_target']]
teams_stats

                common_name  performance_rank  shots  shots_on_target
0                   Arsenal                 5    377              208
1         Tottenham Hotspur                 4    433              226
2           Manchester City                 1    527              298
3            Leicester City                 9    420              222
4            Crystal Palace                12    392              184
5                   Everton                 8    396              207
6                   Burnley                15    309              150
7               Southampton                16    383              200
8           AFC Bournemouth                14    375              200
9         Manchester United                 6    434              263
10                Liverpool                 2    472              264
11                  Chelsea                 3    446              236
12          West Ham United                10    365              194
13                  Watford                11    347              188
14         Newcastle United                13    366              178
15             Cardiff City                18    342              162
16                   Fulham                19    376              181
17   Brighton & Hove Albion                17    320              143
18        Huddersfield Town                20    324              154
19  Wolverhampton Wanderers                 7    397              188

### Deixando apenas os campos que vamos usar na analise (dropando o que nao vamos usar)

In [25]:
# Definindo colunas que vamos usar:
matches_columns = ['date_GMT', 'home_team_name', 'away_team_name', 'Pre-Match PPG (Home)', 'Pre-Match PPG (Away)', 'home_team_goal_count', 'away_team_goal_count', 'home_team_goal_count_half_time', 'away_team_goal_count_half_time', 'home_team_goal_timings', 'away_team_goal_timings', 'home_team_shots', 'home_team_shots_on_target_original', 'home_team_shots_on_target_dirty', 'home_team_corner_count', 'away_team_shots', 'away_team_shots_on_target', 'away_team_corner_count', 'referee', 'home_team_yellow_cards', 'home_team_red_cards', 'away_team_yellow_cards', 'away_team_red_cards', 'home_team_fouls', 'away_team_fouls', 'dirty']

matches_df = matches_df[matches_columns]
matches_df

KeyError: "['date_GMT'] not in index"

### Odds de cada partida do campeonato

In [16]:
odds_columns = ['HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A']

odds_df = odds_df[odds_columns]
odds_df

         HomeTeam        AwayTeam  B365H  B365D  B365A
0      Man United       Leicester   1.57   3.90   7.50
1     Bournemouth         Cardiff   1.90   3.60   4.50
2          Fulham  Crystal Palace   2.50   3.40   3.00
3    Huddersfield         Chelsea   6.50   4.00   1.61
4       Newcastle       Tottenham   3.90   3.50   2.04
..            ...             ...    ...    ...    ...
375     Liverpool          Wolves   1.30   6.00  11.00
376    Man United         Cardiff   1.28   6.50  11.00
377   Southampton    Huddersfield   1.44   4.75   8.50
378     Tottenham         Everton   2.20   3.50   3.50
379       Watford        West Ham   2.25   3.75   3.20

[380 rows x 5 columns]

### Vamos juntar os dois data frames, matches e odds, para podermos saber como estao as espectativas pre jogo

In [5]:
# primeiro precisamos unificar os nomes dos times que estao diferentes em ambos os data frames

# Renomear as colunas em odds_df para corresponder às colunas em data
odds_df = odds_df.rename(columns={
    'HomeTeam': 'home_team_name',
    'AwayTeam': 'away_team_name',
})

# Criar um dicionário de mapeamento para padronizar os nomes dos times
team_name_mapping = {
    'Man United': 'Manchester United',
    'Man City': 'Manchester City',
    'Leicester': 'Leicester City',
    'Newcastle': 'Newcastle United',
    'Bournemouth': 'AFC Bournemouth',
    'Brighton': 'Brighton & Hove Albion',
    'Wolves': 'Wolverhampton Wanderers',
    'West Ham': 'West Ham United',
    'Cardiff': 'Cardiff City',
    'Tottenham': 'Tottenham Hotspur',
    'Huddersfield': 'Huddersfield Town',
}


# Aplicar o mapeamento aos DataFrames
matches_df['home_team_name'] = matches_df['home_team_name'].replace(team_name_mapping)
matches_df['away_team_name'] = matches_df['away_team_name'].replace(team_name_mapping)
odds_df['home_team_name'] = odds_df['home_team_name'].replace(team_name_mapping)
odds_df['away_team_name'] = odds_df['away_team_name'].replace(team_name_mapping)

# Realizar a junção dos DataFrames com base nos nomes padronizados dos times
matches_info_df = pd.merge(matches_df, odds_df, on=['home_team_name', 'away_team_name'], how='inner')
matches_info_df

,result,performance_rank_home,home_team_name,B365H_x,B365D_x,B365A_x,away_team_name,away_performance_rank,Pre-Match PPG (Home),Pre-Match PPG (Away),...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,1,6,Manchester United,1.57,3.90,7.50,Leicester City,9,0.00,0.00,...,1.79,17,-0.75,1.75,1.70,2.29,2.21,1.55,4.07,7.69
1,-1,13,Newcastle United,3.90,3.50,2.04,Tottenham Hotspur,4,0.00,0.00,...,1.81,20,0.25,2.20,2.12,1.80,1.76,4.74,3.53,1.89
2,2,14,AFC Bournemouth,1.90,3.60,4.50,Cardiff City,18,0.00,0.00,...,1.83,20,-0.75,2.20,2.13,1.80,1.75,1.88,3.61,4.70
3,-2,19,Fulham,2.50,3.40,3.00,Crystal Palace,12,0.00,0.00,...,1.87,22,-0.25,2.18,2.11,1.81,1.77,2.62,3.38,2.90
4,-3,20,Huddersfield Town,6.50,4.00,1.61,Chelsea,3,0.00,0.00,...,1.84,23,1.00,1.84,1.80,2.13,2.06,7.24,3.95,1.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2,2,Liverpool,1.30,6.00,11.00,Wolverhampton Wanderers,7,2.78,1.28,...,2.31,22,-1.50,1.98,1.91,2.01,1.95,1.32,5.89,9.48
376,-2,6,Manchester United,1.28,6.50,11.00,Cardiff City,18,2.00,0.61,...,2.95,21,-2.00,2.52,2.32,1.72,1.64,1.30,6.06,9.71
377,0,16,Southampton,1.44,4.75,8.50,Huddersfield Town,20,1.22,0.33,...,2.29,22,-1.50,2.27,2.16,1.80,1.73,1.37,5.36,8.49
378,0,4,Tottenham Hotspur,2.20,3.50,3.50,Everton,8,2.06,1.06,...,2.07,19,-0.50,2.13,2.08,1.85,1.80,1.91,3.81,4.15
379,-3,11,Watford,2.25,3.75,3.20,West Ham United,10,1.50,1.00,...,2.44,19,-0.50,2.25,2.19,1.78,1.72,2.11,3.86,3.41

### Criação das funções que iremos utilizar para trabalhar melhor os dados

In [27]:
def checking_result(row):
    result = row['home_team_goal_count'] - row['away_team_goal_count']
        
    return result

# defining the result
matches_info_df['result'] = matches_info_df.apply(checking_result, axis=1)

# Divide the season into three parts based on index position
matches_info_df["season_part"] = 'first'
matches_info_df.loc[(matches_info_df.index > 120) & (matches_info_df.index < 240),'season_part'] = 'mid'
matches_info_df.loc[(matches_info_df.index >= 240),'season_part'] = 'last'

# Converting the 'match_datetime' column to datetime format
matches_info_df['match_datetime'] = pd.to_datetime(matches_info_df['date_GMT'], format='%b %d %Y - %I:%M%p')
# Creating the 'day_or_night' column based on the hour of the match
matches_info_df['day_or_night'] = matches_info_df['match_datetime'].dt.hour.apply(lambda x: 'Night' if x >= 17 else 'Day')

def home_second_half_goals(row):
    home_goals_second_half = row['home_team_goal_count'] - row['home_team_goal_count_half_time']
    
    return int(home_goals_second_half)

def away_second_half_goals(row):
    away_goals_second_half = row['away_team_goal_count'] - row['away_team_goal_count_half_time']
    
    return int(away_goals_second_half)

# creating column to goals on 2 half
matches_info_df['home_team_goal_count_secondhalf_time'] = matches_info_df.apply(home_second_half_goals, axis=1)
matches_info_df['away_team_goal_count_secondhalf_time'] = matches_info_df.apply(away_second_half_goals, axis=1)

# Function to verify if there are goals scored after the 80th minute for both teams
def has_goals_after_80_minutes(row):
    home_goals = row['home-80-final']
    away_goals = row['away-80-final']
    
    return home_goals or away_goals

# Function to convert time notation to minutes
def convert_time_notation_to_minutes(time_str):
    values = time_str.split("'")
    if len(values) != 1 and len(values) != 2:
        raise Exception('Invalid time notation')

    minutes = int(values[0])
    if len(values) == 2:
        minutes += int(values[1])

    return minutes

# Function to check if there are goals scored after a specified threshold time
def has_goals_after_threshold(times_str, threshold=80):
    # Splitting the goal timings string using comma delimiter
    timings_arr = times_str.split(',')
    # Converting time notation to minutes
    minutes_arr = [convert_time_notation_to_minutes(x) for x in timings_arr]

    # Checking if any time is greater than or equal to the threshold
    for time in minutes_arr:
        if time >= threshold:
            return True
    
    return False

# Applying the has_goals_after_threshold function to home and away goal timings, and combining the results
matches_info_df['home-80-final'] = matches_info_df['home_team_goal_timings'].apply(lambda x: has_goals_after_threshold(x) if not isinstance(x, float) else False)
matches_info_df['away-80-final'] = matches_info_df['away_team_goal_timings'].apply(lambda x: has_goals_after_threshold(x) if not isinstance(x, float) else False)
matches_info_df['80-final'] = matches_info_df.apply(has_goals_after_80_minutes, axis=1)

# Selecting relevant columns for analysis
matches_info_df[['home_team_goal_timings', 'away_team_goal_timings', 'home-80-final', 'away-80-final', '80-final', 'home_team_goal_count_secondhalf_time']].head(20)

KeyError: 'date_GMT'

In [26]:
# Adicionar coluna de índice original ao DataFrame matches_info_df
matches_info_df['original_index'] = matches_info_df.index

# Realizar a junção dos DataFrames com base nos nomes padronizados dos times
teams_stats.rename(columns={'common_name': 'home_team_name', 'shots': 'home_season_shots', 'shots_on_target': 'home_season_shots_on_target', 'performance_rank': 'performance_rank_home'}, inplace=True)
matches_info_df = pd.merge(matches_info_df, teams_stats, on=['home_team_name'], how='inner')

teams_stats = teams_stats.drop(columns=['home_season_shots', 'home_season_shots_on_target'])
teams_stats.rename(columns={'home_team_name': 'away_team_name', 'performance_rank_home': 'away_performance_rank'}, inplace=True)
matches_info_df = pd.merge(matches_info_df, teams_stats, on=['away_team_name'], how='inner')

# Ordenar pelo índice original para manter a ordem das linhas
matches_info_df = matches_info_df.sort_values(by='original_index').reset_index(drop=True)

# Remover a coluna de índice original
matches_info_df = matches_info_df.drop(columns=['original_index'])

matches_info_df

# falar com o professor para ver se isso aqui é merda

C:\Users\gabriel\AppData\Local\Temp\ipykernel_6504\2992840650.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams_stats.rename(columns={'common_name': 'home_team_name', 'shots': 'home_season_shots', 'shots_on_target': 'home_season_shots_on_target', 'performance_rank': 'performance_rank_home'}, inplace=True)

,result,performance_rank_home_x,home_team_name,B365H_x,B365D_x,B365A_x,away_team_name,away_performance_rank_x,Pre-Match PPG (Home),Pre-Match PPG (Away),...,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA,performance_rank_home_y,home_season_shots_y,home_season_shots_on_target_y,away_performance_rank_y
0,1,6,Manchester United,1.57,3.90,7.50,Leicester City,9,0.00,0.00,...,1.70,2.29,2.21,1.55,4.07,7.69,6,434,263,9
1,-1,13,Newcastle United,3.90,3.50,2.04,Tottenham Hotspur,4,0.00,0.00,...,2.12,1.80,1.76,4.74,3.53,1.89,13,366,178,4
2,2,14,AFC Bournemouth,1.90,3.60,4.50,Cardiff City,18,0.00,0.00,...,2.13,1.80,1.75,1.88,3.61,4.70,14,375,200,18
3,-2,19,Fulham,2.50,3.40,3.00,Crystal Palace,12,0.00,0.00,...,2.11,1.81,1.77,2.62,3.38,2.90,19,376,181,12
4,-3,20,Huddersfield Town,6.50,4.00,1.61,Chelsea,3,0.00,0.00,...,1.80,2.13,2.06,7.24,3.95,1.58,20,324,154,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2,2,Liverpool,1.30,6.00,11.00,Wolverhampton Wanderers,7,2.78,1.28,...,1.91,2.01,1.95,1.32,5.89,9.48,2,472,264,7
376,-2,6,Manchester United,1.28,6.50,11.00,Cardiff City,18,2.00,0.61,...,2.32,1.72,1.64,1.30,6.06,9.71,6,434,263,18
377,0,16,Southampton,1.44,4.75,8.50,Huddersfield Town,20,1.22,0.33,...,2.16,1.80,1.73,1.37,5.36,8.49,16,383,200,20
378,0,4,Tottenham Hotspur,2.20,3.50,3.50,Everton,8,2.06,1.06,...,2.08,1.85,1.80,1.91,3.81,4.15,4,433,226,8
379,-3,11,Watford,2.25,3.75,3.20,West Ham United,10,1.50,1.00,...,2.19,1.78,1.72,2.11,3.86,3.41,11,347,188,10

In [31]:
## colocando as colunas na ordem correta
ordered_df = ['result', 'performance_rank_home', 'home_team_name','B365H', 'B365D', 'B365A', 'away_team_name', 'away_performance_rank',  'Pre-Match PPG (Home)', 'Pre-Match PPG (Away)', 'home_team_goal_count', 'away_team_goal_count', 'home_team_goal_count_half_time', 'home_team_goal_count_secondhalf_time', 'away_team_goal_count_half_time','away_team_goal_count_secondhalf_time', 'home_team_goal_timings', 'away_team_goal_timings', 'home_team_shots', 'home_team_shots_on_target_original', 'home_team_corner_count', 'home_team_shots_on_target_dirty','away_team_shots', 'away_team_shots_on_target', 'away_team_corner_count', 'season_part', 'day_or_night', 'home-80-final', 'away-80-final', '80-final', 'home_season_shots', 'home_season_shots_on_target', 'referee', 'home_team_yellow_cards', 'home_team_red_cards', 'away_team_yellow_cards', 'away_team_red_cards', 'home_team_fouls', 'away_team_fouls', 'dirty']

matches_info_df = matches_info_df[ordered_df]
matches_info_df.to_csv('matches_info_df.csv')
matches_info_df

,result,performance_rank_home,home_team_name,B365H,B365D,B365A,away_team_name,away_performance_rank,Pre-Match PPG (Home),Pre-Match PPG (Away),...,home_season_shots,home_season_shots_on_target,referee,home_team_yellow_cards,home_team_red_cards,away_team_yellow_cards,away_team_red_cards,home_team_fouls,away_team_fouls,dirty
0,1,6,Manchester United,1.57,3.90,7.50,Leicester City,9,0.00,0.00,...,434,263,Andre Marriner,2,0,1,0,11,8,1
1,-1,13,Newcastle United,3.90,3.50,2.04,Tottenham Hotspur,4,0.00,0.00,...,366,178,Martin Atkinson,2,0,2,0,11,12,0
2,2,14,AFC Bournemouth,1.90,3.60,4.50,Cardiff City,18,0.00,0.00,...,375,200,Kevin Friend,1,0,1,0,11,9,1
3,-2,19,Fulham,2.50,3.40,3.00,Crystal Palace,12,0.00,0.00,...,376,181,Mike Dean,1,0,2,0,9,11,0
4,-3,20,Huddersfield Town,6.50,4.00,1.61,Chelsea,3,0.00,0.00,...,324,154,Chris Kavanagh,2,0,1,0,9,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2,2,Liverpool,1.30,6.00,11.00,Wolverhampton Wanderers,7,2.78,1.28,...,472,264,Martin Atkinson,0,0,2,0,3,11,0
376,-2,6,Manchester United,1.28,6.50,11.00,Cardiff City,18,2.00,0.61,...,434,263,Jonathan Moss,3,0,3,0,9,6,0
377,0,16,Southampton,1.44,4.75,8.50,Huddersfield Town,20,1.22,0.33,...,383,200,Lee Probert,0,0,1,0,8,6,1
378,0,4,Tottenham Hotspur,2.20,3.50,3.50,Everton,8,2.06,1.06,...,433,226,Andre Marriner,0,0,2,0,10,13,1
379,-3,11,Watford,2.25,3.75,3.20,West Ham United,10,1.50,1.00,...,347,188,Chris Kavanagh,1,1,0,0,10,10,1

### Comparação das duas bases de dados "original" "suja"

In [32]:
matches_info_df[['home_team_shots', 'home_team_shots_on_target_original', 'home_team_shots_on_target_dirty']]

,home_team_shots,home_team_shots_on_target_original,home_team_shots_on_target_dirty
0,8,7,NaN
1,11,3,3.0
2,11,5,NaN
3,11,7,7.0
4,6,2,2.0
...,...,...,...
375,11,6,6.0
376,21,11,11.0
377,7,4,NaN
378,9,4,NaN
379,11,9,NaN